[submodule "tools/tc-build"]
	path = tools/tc-build
	url = https://github.com/ClangBuiltLinux/tc-build.git
[submodule "external/llvm-project"]
	path = external/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "external/musl"]
	path = external/musl
	url = git://git.musl-libc.org/musl
[submodule "external/fish-shell"]
	path = external/fish-shell
	url = https://github.com/fish-shell/fish-shell.git
[submodule "external/pcre"]
	path = external/pcre
	url = https://android.googlesource.com/platform/external/pcre
[submodule "external/kernel-headers"]
	path = external/kernel-headers
	url = https://github.com/sabotage-linux/kernel-headers.git
[submodule "system/core"]
	path = system/core
	url = https://github.com/D-os/system_core.git
[submodule "external/samurai"]
	path = external/samurai
	url = https://github.com/michaelforney/samurai.git
[submodule "external/kati"]
	path = external/kati
	url = https://github.com/google/kati.git
[submodule "external/mold"]
	path = external/mold
	url = https://github.com/rui314/mold.git
[submodule "system/libbase"]
	path = system/libbase
	url = https://github.com/D-os/system_libbase.git
[submodule "external/libcap"]
	path = external/libcap
	url = https://android.googlesource.com/platform/external/libcap
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://android.googlesource.com/platform/external/protobuf
[submodule "external/zlib"]
	path = external/zlib
	url = https://android.googlesource.com/platform/external/zlib
[submodule "system/logging"]
	path = system/logging
	url = https://github.com/D-os/system_logging.git
[submodule "system/vold"]
	path = system/vold
	url = https://android.googlesource.com/platform/system/vold
[submodule "system/extras"]
	path = system/extras
	url = https://github.com/D-os/system_extras.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://android.googlesource.com/platform/external/jsoncpp
[submodule "system/libprocinfo"]
	path = system/libprocinfo
	url = https://android.googlesource.com/platform/system/libprocinfo
[submodule "system/bioniccompat/bionic"]
	path = system/bioniccompat/bionic
	url = https://github.com/D-os/bionic.git
[submodule "external/e2fsprogs"]
	path = external/e2fsprogs
	url = https://android.googlesource.com/platform/external/e2fsprogs
[submodule "external/linux"]
	path = external/linux
	url = https://github.com/zen-kernel/zen-kernel.git
[submodule "external/kmod"]
	path = external/kmod
	url = https://android.googlesource.com/platform/external/kmod
[submodule "external/mksh"]
	path = external/mksh
	url = https://android.googlesource.com/platform/external/mksh
[submodule "external/toybox"]
	path = external/toybox
	url = https://android.googlesource.com/platform/external/toybox
[submodule "external/boringssl"]
	path = external/boringssl
	url = https://android.googlesource.com/platform/external/boringssl
[submodule "external/weston"]
	path = external/weston
	url = https://github.com/wayland-project/weston.git
[submodule "external/wayland"]
	path = external/wayland
	url = git@github.com:wayland-project/wayland.git
[submodule "external/libffi"]
	path = external/libffi
	url = git@github.com:libffi/libffi.git
