[submodule "tools/tc-build"]
	path = tools/tc-build
	url = https://github.com/ClangBuiltLinux/tc-build.git
[submodule "external/llvm-project"]
	path = external/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "external/musl"]
	path = external/musl
	url = git://git.musl-libc.org/musl
[submodule "external/fish-shell"]
	path = external/fish-shell
	url = https://github.com/fish-shell/fish-shell.git
[submodule "external/pcre"]
	path = external/pcre
	url = https://android.googlesource.com/platform/external/pcre
[submodule "external/kernel-headers"]
	path = external/kernel-headers
	url = https://github.com/sabotage-linux/kernel-headers.git
[submodule "system/core"]
	path = system/core
	url = https://github.com/D-os/system_core.git
[submodule "external/samurai"]
	path = external/samurai
	url = https://github.com/michaelforney/samurai.git
[submodule "external/kati"]
	path = external/kati
	url = https://github.com/google/kati.git
[submodule "external/mold"]
	path = external/mold
	url = https://github.com/rui314/mold.git
[submodule "system/libbase"]
	path = system/libbase
	url = https://github.com/D-os/system_libbase.git
[submodule "external/libcap"]
	path = external/libcap
	url = https://android.googlesource.com/platform/external/libcap
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://android.googlesource.com/platform/external/protobuf
[submodule "external/zlib"]
	path = external/zlib
	url = https://android.googlesource.com/platform/external/zlib
[submodule "system/logging"]
	path = system/logging
	url = https://github.com/D-os/system_logging.git
[submodule "system/vold"]
	path = system/vold
	url = https://android.googlesource.com/platform/system/vold
[submodule "system/extras"]
	path = system/extras
	url = https://github.com/D-os/system_extras.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://android.googlesource.com/platform/external/jsoncpp
[submodule "system/libprocinfo"]
	path = system/libprocinfo
	url = https://android.googlesource.com/platform/system/libprocinfo
[submodule "system/bioniccompat/bionic"]
	path = system/bioniccompat/bionic
	url = https://github.com/D-os/bionic.git
[submodule "external/e2fsprogs"]
	path = external/e2fsprogs
	url = https://android.googlesource.com/platform/external/e2fsprogs
[submodule "external/linux"]
	path = external/linux
	url = https://github.com/zen-kernel/zen-kernel.git
[submodule "external/kmod"]
	path = external/kmod
	url = https://android.googlesource.com/platform/external/kmod
[submodule "external/mksh"]
	path = external/mksh
	url = https://android.googlesource.com/platform/external/mksh
[submodule "external/toybox"]
	path = external/toybox
	url = https://github.com/D-os/toybox.git
[submodule "external/boringssl"]
	path = external/boringssl
	url = https://android.googlesource.com/platform/external/boringssl
[submodule "external/weston"]
	path = external/weston
	url = https://github.com/wayland-project/weston.git
[submodule "external/wayland"]
	path = external/wayland
	url = https://github.com/wayland-project/wayland.git
[submodule "external/libffi"]
	path = external/libffi
	url = https://github.com/libffi/libffi.git
[submodule "external/pixman"]
	path = external/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "external/wayland-protocols"]
	path = external/wayland-protocols
	url = https://github.com/wayland-project/wayland-protocols.git
[submodule "external/libdrm"]
	path = external/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "external/libevdev"]
	path = external/libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
[submodule "external/libxkbcommon"]
	path = external/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "external/libinput"]
	path = external/libinput
	url = https://github.com/wayland-project/libinput.git
	branch = main
[submodule "external/mtdev"]
	path = external/mtdev
	url = http://bitmath.org/git/mtdev.git
[submodule "external/libudev"]
	path = external/libudev
	url = https://github.com/illiliti/libudev-zero.git
[submodule "external/xkeyboard-config"]
	path = external/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "external/mesa"]
	path = external/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "external/expat"]
	path = external/expat
	url = https://android.googlesource.com/platform/external/expat
[submodule "external/libva"]
	path = external/libva
	url = https://github.com/intel/libva.git
[submodule "external/seatd"]
	path = external/seatd
	url = https://git.sr.ht/~kennylevinsen/seatd
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://android.googlesource.com/platform/external/libjpeg-turbo
[submodule "external/yasm"]
	path = external/yasm
	url = https://github.com/yasm/yasm.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://android.googlesource.com/platform/external/libpng
[submodule "external/libwebp"]
	path = external/libwebp
	url = https://android.googlesource.com/platform/external/webp
[submodule "external/cairo"]
	path = external/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://android.googlesource.com/platform/external/freetype
[submodule "frameworks/native"]
	path = frameworks/native
	url = https://android.googlesource.com/platform/frameworks/native
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
[submodule "system/tools/aidl"]
	path = system/tools/aidl
	url = https://github.com/D-os/system_tools_aidl.git
[submodule "external/fmtlib"]
	path = external/fmtlib
	url = https://github.com/fmtlib/fmt.git
