[submodule "tools/tc-build"]
	path = tools/tc-build
	url = git@github.com:ClangBuiltLinux/tc-build.git
[submodule "external/llvm-project"]
	path = external/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "external/linux"]
	path = external/linux
	url = git@github.com:torvalds/linux.git
[submodule "external/musl"]
	path = external/musl
	url = git://git.musl-libc.org/musl
